<div class="dropdown" id="gameDropdown">
    <button onclick="gameDropdownClicked()" class="dropbtn site-button">
        <span>Dropdown</span>
        <svg viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="#svg-arrow-right"></use>
        </svg>
    </button>

    <div class="dropdown-content">
        <a onclick="setGame('Universal')">All Games</a>
        <a onclick="setGame('P5R')">Persona 5 Royal</a>
        <a onclick="setGame('P4G')">Persona 4 Golden</a>
        <a onclick="setGame('P4G Vita')">Persona 4 Golden Vita</a>
        <a onclick="setGame('P3P')">Persona 3 Portable</a>
        <a onclick="setGame('P3F')">Persona 3 FES</a>
    </div>
</div>