.label-icon {
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.label-text {
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.game-label {
    vertical-align: super !important;
}

.label-P5R {
    background-color: red !important;
    font-size: 1rem !important;
}

.label-P4G {
    background-color: #F7D12E !important;
    color: #44434D !important;
    font-size: 1rem !important;
}

.label-P3P {
    background-color: blue !important;
    font-size: 1rem !important;
}

.label-PQ2 {
    background-color: purple !important;
    font-size: 1rem !important;
}

.label-Universal {
    background-color: #009C7B !important;
    font-size: 1rem !important;
}