---
layout: default
---

{% if page.games %}
    <div class="d-inline-block">
{% endif %}
{{ "# " | append: page.title | markdownify }}


{% if page.games %}
    </div>
    {% for game in page.games %}
        <p class="game-label label label-{{game}} mr-0">
          {{game}}
        </p>
    {% endfor %}
{% endif %}

{% if page.include_toc %}
<details open markdown="block">
    <summary class="text-delta">
        Table of contents
    </summary>
    {% include toc.html html=content ordered=true %}
</details>
{% endif %}

{{ content }}